# Entity Per Line

In [1]:
data = open('/content/drive/MyDrive/Colab Notebooks/ANERcorp-CamelLabSplits/ANERCorp_CamelLab_train.txt').readlines()

In [2]:
## make dictionary  key --> word , value --> label 
word2label={}
for line in data:
    try:
        if ' '.join(line.strip().split()[:-1]) not in word2label.keys():
            word2label[' '.join(line.strip().split()[:-1])]=line.strip().split()[-1]
    except :
        pass

In [3]:
## seperate sentences 
l=[]
sentences=[]
for line in data:
    try:
        l.append(line.strip().split()[0]) 
        if line.strip().split()[0]=='.':
            sentences.append(' '.join(l[:-1]))
            l=[]
    except:
        pass

In [4]:
list(word2label.items())[100:200]

[('هو', 'O'),
 ('الحالالان', 'O'),
 ('يصل', 'O'),
 ('عدد', 'O'),
 ('الجديدة', 'O'),
 ('2.3', 'O'),
 ('بالمقارنة', 'O'),
 ('بـ34.3', 'O'),
 ('الماضي', 'O'),
 ('تكهن', 'O'),
 ('بأن', 'O'),
 ('سوف', 'O'),
 ('تنتج', 'O'),
 ('خمس', 'O'),
 ('الشهور', 'O'),
 ('الاثني', 'O'),
 ('عشر', 'O'),
 ('القادمة', 'O'),
 ('فإن', 'O'),
 ('يقل', 'O'),
 ('عن', 'O'),
 ('إنتاج', 'O'),
 ('الذي', 'O'),
 ('بلغ', 'O'),
 ('3.5', 'O'),
 ('ركاب', 'O'),
 ('ثالث', 'O'),
 ('أفضل', 'O'),
 ('نتيجة', 'O'),
 ('تاريخ', 'O'),
 ('أهم', 'O'),
 ('رجح', 'O'),
 ('الممثل', 'O'),
 ('الأعلى', 'O'),
 ('للأمن', 'O'),
 ('والسياسة', 'O'),
 ('الخارجية', 'O'),
 ('الأوروبي', 'O'),
 ('خافيير', 'B-PERS'),
 ('سولانا', 'I-PERS'),
 ('يتوصل', 'O'),
 ('مجلس', 'B-ORG'),
 ('الأمن', 'I-ORG'),
 ('الأسبوع', 'O'),
 ('المقبل', 'O'),
 ('إلى', 'O'),
 ('حل', 'O'),
 ('للأزمة', 'O'),
 ('الناشبة', 'O'),
 ('الاعتداء', 'O'),
 ('الإسرائيلي', 'O'),
 ('المتواصل', 'O'),
 ('منذ', 'O'),
 ('ثمانية', 'O'),
 ('أيام', 'O'),
 ('على', 'O'),
 ('لبنان', 'B-LOC'),
 ('خلال', 'O'),
 ('مؤتمر', 'O'),
 ('صحفي', 'O'),
 ('القاهرة', 'B-LOC'),
 ('بعد', 'O'),
 ('لقائه', 'O'),
 ('الرئيس', 'O'),
 ('حسني', 'B-PERS'),
 ('مبارك', 'I-PERS'),
 ('قد', 'O'),
 ('يتبنى', 'O'),
 ('قرارا', 'O'),
 ('حول', 'O'),
 ('النزاع', 'O'),
 ('،', 'O'),
 ('داعيا', 'O'),
 ('بذل', 'O'),
 ('الجهود', 'O'),
 ('لأجل', 'O'),
 ('إنهاء', 'O'),
 ('ووصف', 'O'),
 ('قام', 'O'),
 ('بجولة', 'O'),
 ('شملت', 'O'),
 ('وإسرائيل', 'B-LOC'),
 ('المعاناة', 'O'),
 ('الحالية', 'O'),
 ('بأنها', 'O'),
 ('أمر', 'O'),
 ('مروع', 'O'),
 ('ودعا', 'O'),
 ('الجميع', 'O'),
 ('لبذل', 'O'),
 ('اللازمة', 'O'),
 ('لوضع', 'O'),
 ('حد', 'O'),
 ('لإراقة', 'O'),
 ('الدماء', 'O'),
 ('خطة', 'O'),
 ('أنان', 'B-PERS'),
 ('و', 'O'),
 ('نيويورك', 'B-LOC'),
 ('دعا', 'O')]

In [5]:
## get labels 
labels=list(set(word2label.values()))
labels

['I-LOC',
 'B-PERS',
 'I-PERS',
 'I-MISC',
 'B-ORG',
 'B-LOC',
 'O',
 'I-ORG',
 'B-MISC']

In [6]:
# Modify the labels
for i, label in enumerate(labels):
  if label in ['B-LO','B-LOCI-PE','B-L','B-LOC']:
    labels[i] = 'B-LOC'
  elif label in ['B-PERs', 'B-ERS', 'B-PE','B-PERS','B-PER']:
    labels[i] = 'B-PER'
  elif label in ['B-O', 'B-OR', 'B-OEG','B-ORG']:
    labels[i] = 'B-ORG'
  elif label in ['B-MISC','B-MI','B-M','B-MIS']:
    labels[i] = 'B-MIS'
  elif label in ['I-LO','I-LOC']:
    labels[i] = 'I-LOC'
  elif label in ['I-P', 'I-PE','I-PERS', 'I-PER']:
    labels[i] = 'I-PER'
  elif label in ['I-OR', 'I-O','I-ORG']:
    labels[i] = 'I-ORG'
  elif label in ['I-M','I-MISC','I-MI', 'i-misc','I-MIS']:
    labels[i] = 'I-MIS'
  else:
    labels[i] = 'O'
  

# Print the modified labels
labels

['I-LOC', 'B-PER', 'I-PER', 'I-MIS', 'B-ORG', 'B-LOC', 'O', 'I-ORG', 'B-MIS']

In [7]:
sent=sentences[19]
sent

'تشاؤم السنيورة وفي بيروت شكر رئيس الحكومة أنان في اتصال هاتفي على اهتمامه بلبنان ، وأبدى أمس تشاؤمه باحتمال التوصل إلى حل قريب للحرب الإسرائيلية على البلاد'

In [8]:
len(sent)

155

In [9]:
training_data=[]
for sent in sentences:
    words=sent.split()
    l=[]
    for word in words:
      word_info=(sent.find(word),sent.find(word)+len(word),word2label[word])
      l.append(word_info)

    training_data.append((sent,{"entities":l}))

In [10]:
training_data[:3]

[('فرانكفورت (د ب أ) أعلن اتحاد صناعة السيارات في ألمانيا امس الاول أن شركات صناعة السيارات في ألمانيا تواجه عاما صعبا في ظل ركود السوق الداخلية والصادرات وهي تسعي لان يبلغ الانتاج حوالي خمسة ملايين سيارة في عام 2002',
  {'entities': [(0, 9, 'B-LOC'),
    (10, 12, 'O'),
    (13, 14, 'O'),
    (15, 17, 'O'),
    (18, 22, 'O'),
    (23, 28, 'B-ORG'),
    (29, 34, 'I-ORG'),
    (35, 43, 'I-ORG'),
    (44, 46, 'O'),
    (47, 54, 'B-LOC'),
    (55, 58, 'O'),
    (59, 64, 'O'),
    (65, 67, 'O'),
    (68, 73, 'O'),
    (29, 34, 'I-ORG'),
    (35, 43, 'I-ORG'),
    (44, 46, 'O'),
    (47, 54, 'B-LOC'),
    (100, 105, 'O'),
    (106, 110, 'O'),
    (111, 115, 'O'),
    (44, 46, 'O'),
    (119, 121, 'O'),
    (122, 126, 'O'),
    (127, 132, 'O'),
    (133, 141, 'O'),
    (142, 151, 'O'),
    (152, 155, 'O'),
    (156, 160, 'O'),
    (161, 164, 'O'),
    (165, 169, 'O'),
    (170, 177, 'O'),
    (178, 183, 'O'),
    (184, 188, 'O'),
    (189, 195, 'O'),
    (196, 201, 'O'),
    (44, 46, 'O'),
    (106, 109, 'O'),
    (209, 213, 'O')]}),
 ('وقال رئيس الاتحاد برند جوتشولك عند إعلان آخر تقرير سنوي للاتحاد إن مستقبل السوق مازال يفتقر إلي الخطوط الواضحة',
  {'entities': [(0, 4, 'O'),
    (5, 9, 'O'),
    (10, 17, 'O'),
    (18, 22, 'B-PERS'),
    (23, 30, 'I-PERS'),
    (31, 34, 'O'),
    (35, 40, 'O'),
    (41, 44, 'O'),
    (45, 50, 'O'),
    (51, 55, 'O'),
    (56, 63, 'O'),
    (64, 66, 'O'),
    (67, 73, 'O'),
    (74, 79, 'O'),
    (80, 85, 'O'),
    (86, 91, 'O'),
    (92, 95, 'O'),
    (96, 102, 'O'),
    (103, 110, 'O')]}),
 ('وعلي الرغم من أنه قال أنه يتوقع أن تظل صادرات السيارات عند مستوي مرتفع هذا العام فإنه يبدو من غير المحتمل أن تصل إلي مستوي سجل نموها عام 2001 عندما زادت صادرات سيارات الركاب بنسبة ستة في المائة لتصل إلي 6.3 مليون سيارة',
  {'entities': [(0, 4, 'O'),
    (5, 10, 'O'),
    (11, 13, 'O'),
    (14, 17, 'O'),
    (18, 21, 'O'),
    (14, 17, 'O'),
    (26, 31, 'O'),
    (14, 16, 'O'),
    (35, 38, 'O'),
    (39, 45, 'O'),
    (46, 54, 'I-ORG'),
    (55, 58, 'O'),
    (59, 64, 'O'),
    (65, 70, 'O'),
    (71, 74, 'O'),
    (75, 80, 'O'),
    (81, 85, 'O'),
    (86, 90, 'O'),
    (11, 13, 'O'),
    (94, 97, 'O'),
    (98, 105, 'O'),
    (14, 16, 'O'),
    (109, 112, 'O'),
    (113, 116, 'O'),
    (59, 64, 'O'),
    (123, 126, 'O'),
    (127, 132, 'O'),
    (77, 80, 'O'),
    (137, 141, 'O'),
    (142, 147, 'O'),
    (148, 152, 'O'),
    (39, 45, 'O'),
    (48, 54, 'O'),
    (167, 173, 'O'),
    (174, 179, 'O'),
    (180, 183, 'O'),
    (184, 186, 'O'),
    (187, 193, 'O'),
    (194, 198, 'O'),
    (113, 116, 'O'),
    (203, 206, 'O'),
    (207, 212, 'O'),
    (213, 218, 'O')]})]

In [11]:
import pandas as pd
df = pd.DataFrame.from_dict(word2label.items())

# Print the DataFrame
df

               0      1
0      فرانكفورت  B-LOC
1             (د      O
2              ب      O
3             أ)      O
4           أعلن      O
...          ...    ...
29247    سيشترون      O
29248   بمقدورهم      O
29249    سيارتهم      O
29250      مثبتة      O
29251     المصنع      O

[29252 rows x 2 columns]

In [12]:
df.columns = ["text", "label"]

In [13]:
df

            text  label
0      فرانكفورت  B-LOC
1             (د      O
2              ب      O
3             أ)      O
4           أعلن      O
...          ...    ...
29247    سيشترون      O
29248   بمقدورهم      O
29249    سيارتهم      O
29250      مثبتة      O
29251     المصنع      O

[29252 rows x 2 columns]

In [14]:
df.to_csv('output_train.csv', index=False)

In [15]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size = 0.2)
train_arr = []
test_arr = []
train_lbl = []
test_lbl = []

In [16]:
train_arr=train['text'].astype(str)
train_lbl=train['label'].astype(str)
test_arr=test['text'].astype(str)
test_lbl=test['label'].astype(str)

In [17]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer,TfidfVectorizer

In [18]:
vectorizer = CountVectorizer()
vectorizer.fit(train_arr)
train_mat = vectorizer.transform(train_arr)

In [19]:
tfidf = TfidfTransformer()
tfidf.fit(train_mat)
train_tfmat = tfidf.transform(train_mat)

In [20]:
test_mat = vectorizer.transform(test_arr)
test_tfmat = tfidf.transform(test_mat)

In [21]:
del df
del test_arr
del train_arr

In [22]:
from sklearn.naive_bayes import BernoulliNB, GaussianNB, MultinomialNB
train_tfmat

<23401x23122 sparse matrix of type '<class 'numpy.float64'>'
	with 23381 stored elements in Compressed Sparse Row format>

In [23]:
from sklearn.svm import LinearSVC

In [24]:
lsvm=LinearSVC()
lsvm.fit(train_tfmat,train_lbl)

LinearSVC()

In [29]:
txt = "تويوتا"
vec = txt.split()

In [30]:
vec

['تويوتا']

In [31]:
import sys
y=[]
token=[]
for x in vec:
    x=[x]
    test_str = vectorizer.transform(x)
    test_tfstr = tfidf.transform(test_str)
    test_tfstr.shape
    token.append(x)
    y.append(lsvm.predict(test_tfstr.toarray())[0])

In [32]:
df=pd.DataFrame(list(zip(token,y)),columns=['text','label'])
df

       text  label
0  [تويوتا]  B-ORG